<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativeescposxprinter">

  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

  <application>
      <service android:name="net.posprinter.service.PosprinterService" />
  </application>

</manifest>
